body{
    width: 40vw;
    height: 50vh;
    margin: auto;
}
.calculator{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 0%;
    margin: auto;
}
.button{
    width: 24%;
    height: 100%;
    font-size: 1.5em;
}
.row{
    height: 15%;
}
.lastRow {
    height: 15%;
}
#display{
    border: 1px solid black;
    height: 10%;
    width: 97.4%;
    vertical-align: center;
    border-top: 0px;
    font-size: 1.5em;
    text-align: right;
    padding-right: 2%;
}
.backspace{
    height: 100%;
    width:100%;

}
#innerDisplay{
    border: 1px solid black;
    height: 5%;
    border-bottom: 0px;
    font-size: 1em;
    width: 94.4%;
    text-align: right;
    padding-right: 5%;
}